body{

    margin:0;
    }
    
    
    .logo h1{
        
             color: #0CCC08;
            font-family: Wanted Sans;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: left; 
            margin-left : 76px; margin-top: 22px; margin-bottom: 22px;
    }
    /* h2{
        position:relative;
        text-align: center;
        font-size: 30px; 
        top:200px; 
        
    } */
    .nav {
        display: flex;
        position:absolute;
        left: 70%;
        top: 10px;
        align-items: center;
        
    }
    .button_login_top {
        /* 로그인 버튼 스타일 */
        margin-left: 30px; /* 이 부분이 버튼을 오른쪽으로 밀어냄 */
        padding: 8px 30px;
        background-color: #ffffff;
        color: black;
        border: 1px solid black;
        font-size: 20px;
       
        
        border-radius: 5px;
        cursor: pointer;
    }
    .button_login_top:hover{
        background-color: #000000;
        color:#ffffff;
    
    }
    .nav img {
        margin-right: 5px;
    }
    
    .nav p {
        margin: 0 10px;
    }

    h6{
        position:absolute;
        left: 193px;
        top:235px;

        color: var(--primary-700, #001500);
        font-family: Pretendard;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 180% */
        letter-spacing: -0.25px;
    }
    .login-container {
        position:absolute;
        left: 770px;
        top: 200px;
        width: 400px;
        height: 400px;
        padding: 20px;
        margin: 20px auto;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .login-container h7 {
        position:absolute;
        top:53px;
        left:43px;
        text-align: center;
        margin-bottom: 20px;
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .login-container form {
        position:absolute;
        display: flex;
        flex-direction: column;
       
        gap: 15px;
        width: 370px;
        left:30px;
        top:150px;
        
            }
    
    .login-container input[type="text"],
    .login-container input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 20px;
    }
    
    .login-container button {
        padding: 10px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }
    
    .login-container button:hover {
        background-color: #449d44;
    }
    
    body{

        margin:0;
        width: 1440px;
        
        }
        
        
        h1{
            
                 color: #0CCC08;
                font-family: Wanted Sans;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: left; 
                margin-left : 76px; margin-top: 22px; margin-bottom: 22px;
        }
        h2{
            position:relative;
            text-align: center;
            font-size: 30px; 
            top:200px; 
            
        }
        
        a{
            text-decoration: none;
            color: #0CCC08;
        }
        .nav {
            display: flex;
            position:absolute;
            left: 70%;
            top: 10px;
            align-items: center;
            
        }
        .button_login_top {
            /* 로그인 버튼 스타일 */
            margin-left: 30px; /* 이 부분이 버튼을 오른쪽으로 밀어냄 */
            padding: 8px 30px;
            background-color: #ffffff;
            color: black;
            border: 1px solid black;
            font-size: 20px;
           
            
            border-radius: 5px;
            cursor: pointer;
        }
        .button_login_top:hover{
            background-color: #000000;
            color:#ffffff;
        
        }
        
        .button_mypage_top {
            margin-left: 30px; /* 이 부분이 버튼을 오른쪽으로 밀어냄 */
            padding: 8px 30px;
            background-color: #ffffff;
            color: black;
            border: 1px solid black;
            font-size: 20px;
           
            
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav img {
            margin-right: 5px;
        }
        
        .nav p {
            margin: 0 10px;
        }
        /* .nav{
        
        position: absolute;
        left: 70%;
        top:10px;
        width:300px;
        } */
        /* .icon_check{
        position: absolute;
        left: 70%;
        top: 10px;
        
        }
        .icon_pofo{
            position: absolute;
        left: 83%;
        top:10px;
        
        } */
        .button_login {
            position: relative;
            padding: 8px 30px;
            left:40%;
            top:220px;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 25px;
            text-transform: uppercase;
            margin: 10px;
            outline: none;
            transition: background-color 0.3s;
        }
        .button_sign {
            position:relative;
            padding: 8px 30px;
        
            margin:0px;
            left:43%;
            top:220px;
            background-color: #ffffff;
            color: black;
            border: 1px solid black;
            
            border-radius: 5px;
            cursor: pointer;
            
            font-size: 25px;
            
            text-transform: uppercase;
            margin: 10px;
            outline: none;
            transition: background-color 0.3s;
        }
        .button_sign:hover {
            background-color: #000000;
            color:#ffffff;
        }
        .button_login:hover{
            background-color: #ffffff;
            color:#000000;
            border:1px solid black;
        }
        
        .button_link_todo {
            position:relative;
            padding: 8px 30px;
        
            margin:0px;
            left:43%;
            top:220px;
            background-color: #ffffff;
            color: black;
            border: 1px solid black;
            
            border-radius: 5px;
            cursor: pointer;
            
            font-size: 25px;
            
            text-transform: uppercase;
            margin: 10px;
            outline: none;
            transition: background-color 0.3s;
        }
        
        .button_link_todo:hover {
            background-color: #000000;
            color:#ffffff;
        }
        
        .green{
           position: absolute;
            top:550px;
        }
        
        .button_todo {
            border: 0;
            outline: 0;
            background-color: transparent;
        }
        
        .button_portfolio {
            border: 0;
            outline: 0;
            background-color: transparent;
        }