body{

    margin:0;
    }
    
    
    h1{
        
             color: #0CCC08;
            font-family: Wanted Sans;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: left; 
            margin-left : 76px; margin-top: 22px; margin-bottom: 22px;
    }
    h2{
        position:relative;
        text-align: center;
        font-size: 30px; 
        top:200px; 
        
    }
    .nav {
        display: flex;
        position:absolute;
        left: 73%;
        top: 10px;
        align-items: center;
        
    }
    .button_login_top {
        /* 로그인 버튼 스타일 */
        margin-left: 30px; /* 이 부분이 버튼을 오른쪽으로 밀어냄 */
        padding: 8px 30px;
        background-color: #ffffff;
        color: black;
        border: 1px solid black;
        font-size: 20px;
       
        
        border-radius: 5px;
        cursor: pointer;
    }
    .button_login_top:hover{
        background-color: #000000;
        color:#ffffff;
    
    }
    .nav img {
        margin-right: 5px;
    }
    
    .nav p {
        margin: 0 10px;
    }

    h6{
        position:absolute;
        left: 193px;
        top:235px;

        color: var(--primary-700, #001500);
        font-family: Pretendard;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 180% */
        letter-spacing: -0.25px;
    }