/* Input field styles */
input {
    flex: 1; /* Take remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Rounded left corners */
    font-size: 1em;
}
/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Container styles */
.grid-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.activity-container {
    background-color: #fff;
    padding: 40px; /* 수정된 부분 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* 수정된 부분 */
    width: 90%; /* 수정된 부분 */
}

/* Title styles */
.activity-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px; /* 수정된 부분 */
}

.activity-title-small
{
    font-size: 1.5em; /* 수정된 부분 */
    font-weight: 600;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* Button styles */
button {
    padding: 10px 20px; /* 수정된 부분 */
    border: none;
    border-radius: 6px; /* 수정된 부분 */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Checklist styles */
.activity-checklist ul {
    list-style: none;
}

.activity-checklist li {
    margin-bottom: 10px; /* 수정된 부분 */
}

.activity-checklist li span {
    font-size: 1.0em; /* 수정된 부분 */
}

/* Feeling styles */
.activity-feeling label {
    font-size: 1.2em; /* 수정된 부분 */
    margin-bottom: 10px; /* 수정된 부분 */
}

.activity-feeling textarea {
    width: 100%;
    padding: 15px; /* 수정된 부분 */
    border-radius: 6px; /* 수정된 부분 */
    border: 1px solid #ccc;
    resize: vertical;
    height: 200px; /* 수정된 부분 */
}

/* Submit button styles */
.long-button-green {
    display: block;
    width: 100%;
    padding: 15px; /* 수정된 부분 */
    margin: 20px 0px;
    border: none;
    border-radius: 6px; /* 수정된 부분 */
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.long-button-green:hover {
    background-color: #218838;
}
