<!DOCTYPE html>
<html>
<head>
    <div style ="width : 1440px;"></div>
    <link rel="stylesheet" type="text/css" href="../static/css/group_insert.css"> 
    <!-- <link rel="stylesheet"  href="{{ url_for('static', filename = 'css/group_insert.css')}}">-->
</head>
<body>
    <header class ="logo"><h1>PORTODO</h1>
    <div class = "nav">
    <img class="icon_check" src="/static/images/check.png">
    <p> To-Do</p>
    <img class="icon_pofo" src="/static/images/pofo.png">
    <p>Portfolio</p>
    <button class="button_login_top">로그인</button> 
    </div>
    </header>
    <hr width="100%" style = "border-bottom: 1px solid  #A8A8A8;">
<div class="title">
단체활동추가
<button type="button" style="position:absolute;left: 770px;border: none; background: transparent; padding: 0; outline: none;">
    <img src="/static/images/x-close.png" alt="Close" onclick="" style="display: block;">
</button>
</div>
<h3>활동 종류를 선택해주세요.</h3>
<div class="content">
    
    
        <div class="BOX" id="group1" value="G_group1">동아리</div>
        <div class="BOX" id="group2" value="G_group2">대외활동</div>
        <div class="BOX" id="group3" value="G_group3">학회</div>
        <div class="BOX" id="group4" value="G_group4">팀 프로젝트</div>
        <div class="BOX" id="group5" value="G_group5">팀 스터디</div>
        <div class="BOX" id="group6" value="G_group6">학생회</div>


</div>
<h3 style="top: 650px">활동 이름을 입력해주세요. </h3>
<input type = "text" name="group_activity_name" id="activity_name" placeholder="활동 이름을 입력해주세요.">
<button type="submit" class="button_register">활동 등록하기</button>
</body></html>