<!DOCTYPE html>
<html>
<head>
    <div style ="width : 1440px;"></div>
    <link rel="stylesheet" type="text/css" href="../static/css/todo_insert.css">
</head>
<body>
    <header class ="logo"><h1>PORTODO</h1>
    <div class = "nav">
    <img class="icon_check" src="/static/images/check.png">
    <p> To-Do</p>
    <img class="icon_pofo" src="/static/images/pofo.png">
    <p>Portfolio</p>
    <button class="button_login_top">로그인</button> 
    </div>
    </header>
    <hr width="100%" style = "border-bottom: 1px solid  #A8A8A8;">
<div class="title">
<div class="active_box">
    <h5>{{personal_activity.kind}}</h5>
    <p>{{personal_activity.name}}</p>
</div>
<button type="button" style="position:absolute;left: 1077px;top: 155px; border: none; background: transparent; padding: 0; outline: none;">
    <img src="/static/images/x-close.png" alt="Close" onclick="" style="display: block;">
</button>
</div>
<h3>활동 이름을 입력해주세요. </h3>
<div class="tasks_container" >
    
    <input type="text" class="task_input"  placeholder="1. 할 일">
    <input type="text" class="task_input"  placeholder="2. 할 일">
    <input type="text" class="task_input"  placeholder="3. 할 일">

</div>
<h3 style="top: 570px">느낀점을 입력해주세요. </h3>
<input type="text" class="mind_input" placeholder="느낀점을 입력해주세요.">
<button class="register">활동 등록하기</button>
</body></html>