<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo-insert</title>
    <link rel="stylesheet" type="text/css" href="../static/css/todo-insert.css">
</head>
<body>
    <div class="grid-container">
        <div class="activity-container">
            <div class="activity-title">
                <h1>이화 컴퓨터동아리11</h1>
                <button>뒤로가기</button>
            </div>
            
            <div class="activity-checklist">
              <div class="activity-title-small">
                할 일을 입력해 주세요
                <button>할 일 추가하기</button>
              </div>
                <ul>
                    <li><input placeholder="할 일을 입력해 주세요"/></li>
                    <li><span>할일할일할일</span></li>
                    <li><span>할일할일할일</span></li>
                </ul>
            </div>
            <div class="activity-feeling">
                <div class="activity-title-small">
                  느낀점
                </div>
                <textarea id="comment" placeholder="오늘 이 활동을 하며 어떤 것을 느꼈나요?"></textarea>
            </div>
            <button type="submit" class="long-button-green">작성완료</button>
        </div>
    </div>
</body>
</html>
