
{% extends "navbar.html" %} 
{% block content %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
{% endblock %}
  <h7 style="position:absolute;
    left:220px;
    top:150px;
    color: #0CCC08;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;">3월</h7>
  <div class="month_selector">

    <div class="month_button" onclick="setActiveMonth(this)">18 월</div>
    <div class="month_button" onclick="setActiveMonth(this)">19 화</div>
    <div class="month_button" onclick="setActiveMonth(this)">20 수</div>
    <div class="month_button" onclick="setActiveMonth(this)">21 목</div>
    <div class="month_button" onclick="setActiveMonth(this)">22 금</div>
    <div class="month_button" onclick="setActiveMonth(this)">23 토</div>
    <div class="month_button" onclick="setActiveMonth(this)">24 일</div>
  </div>
  <div class="grid-container">

    {% for group_activity in group_activities %} 
     

    <div class="group-activities">
      <div class="activity-header">
        <h8>단체 활동</h8>
        <hr>
        <button class="long-button-gray" onclick="location.href='/group_insert'">활동 추가하기</button><br />
      </div>




      
      <div class="activity-container">
        <div class="activity-title-container">
          <div class="activity-title-content">
            <p style="position: relative;
                    top:10px;
                    left:30px;
                    color: #5F5F5F;
                    font-family: Pretendard;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">{{group_activity.kind}}</p>
            <p style="color: #215FFF;
                    position: relative;
                    left:30px;
                    top: 0px;
                    font-family: Pretendard;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">{{group_activity.name}}</p>
          </div>
          <button class="activity-title-button"
            onclick="location.href='/group_todo_insert?id={{group_activity.id}}'">+</button><br />
        </div>
        
        <div class="activity-content-container">
          <div class="activity-content-title">할일</div><br />
          <ul class="activity-list">
            {% for todo in group_todos[group_activity.id] %}
            <li>
              <input type="checkbox" id="activity{{ loop.index }}" class="checkbox-custom">
              <label for="activity{{ loop.index }}"></label>   {{ todo.task1 }}
            </li>
            <li>
              <input type="checkbox" id="activity{{ loop.index }}" class="checkbox-custom">
              <label for="activity{{ loop.index }}"></label>   {{ todo.task2 }}
            </li>
            <li>
              <input type="checkbox" id="activity{{ loop.index }}" class="checkbox-custom">
              <label for="activity{{ loop.index }}"></label>   {{ todo.task3 }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="activity-content-container">
          <div class="activity-content-title">느낀점</div><br />
          {% for todo in group_todos[group_activity.id] %}
          <textarea class="activity-content-text" name="reflection" rows="4" cols="50" readonly>
      {{ todo.takeaway }}</textarea>
          {% endfor %}
        </div>
      </div>
      {% endfor %}




      {% for personal_activity in personal_activities %}
      <div class="individual-activities">
        <div class="activity-header">
          <h8>개인 활동</h8>
          <hr>
          <button class="long-button-gray" onclick="location.href='/personal_insert'">활동 추가하기</button><br />
        </div>



        <div class="activity-container">
          <div class="activity-title-container">
            <p style="position: relative;
                    top:-10px;
                    left:30px;
                    color: #5F5F5F;
                    font-family: Pretendard;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">{{personal_activity.kind}}</p>
            <p style="color: #215FFF;
                    position: relative;
                    left:-230px;
                    top: 18px;
                    font-family: Pretendard;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;">{{personal_activity.name}}</p>
            <button class="activity-title-button"
              onclick="location.href='/personal_todo_insert?id={{personal_activity.id}}'">+</button><br />
          </div>

          <div class="activity-content-container">
            <div class="activity-content-title">할일</div><br />
           <ul class="activity-list">
            {% for todo in group_todos[group_activity.id] %}
              {% set counter = 1 %}
              {% for task in todo.tasks %}
                <li>
                  <input type="checkbox" id="activity{{ group_activity.id }}_{{ loop.index }}_{{ counter }}" class="checkbox-custom">
                  <label for="activity{{ group_activity.id }}_{{ loop.index }}_{{ counter }}">{{ task }}</label>
                </li>
                {% set counter = counter + 1 %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
        <div class="activity-content-container">
          <div class="activity-content-title">느낀점</div><br />
          {% for todo in group_todos[group_activity.id] %}
          <textarea class="activity-content-text" name="reflection" rows="4" cols="50" readonly>
      {{ todo.takeaway }}</textarea>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

        <script>
          function setActiveMonth(selectedElement) {
            document.querySelectorAll('.month_button').forEach(function (button) {
              button.classList.remove('active');
            });

            selectedElement.classList.add('active');
          }
        </script>

</body>

{% endblock %}

