<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<body>
    <h1>3월</h1>
    <ul>
        <li><span>18일 월</span></li>
        <li><span>19일 화</span></li>
        <li><span>20일 수</span></li>
        <li><span>21일 목</span></li>
        <li><span>22일 금</span></li>
        <li><span>23일 토</span></li>
        <li><span>24일 일</span></li>
    </ul>


    <h1>단체 활동</h1>
    <button>활동 추가하기</button><br/>

    <input placeholder="동아리"/><button>+</button><br/>

    <ul>
        <li><button>O</button><input placeholder="할 일 입력"></input></li>
    </ul>
    
    <ul>
        <li><button>O</button><span>할일할일할일</span></li>
        <li><button>O</button><span>할일할일할일</span></li>
    </ul>

    <label for="comment">오늘의 한 줄</label><br/>
    <textarea id="comment" placeholder="오늘 이 활동을 하며 어떤 것을 느꼈나요?"></textarea>
    <button type="submit">작성완료</button>
</body>
</html>