<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>박수진님 3학년 1학기 포트폴리오</h1>
    <h2>단체활동</h2>
    <ul>
        <li>멋진동아리
            <span>g</span>
            <ul>
                <li>맛집 탐방하기</li>
                <li>모각코하기</li>
            </ul>
            <ul>
                <li>맛있는 먹을것들을 잔뜩 먹으니 너무 행복했다</li>
                <li>공부를 하니 스스로 너무 멋져 보였다</li>
            </ul>
        </li>
    </ul>
    <h2>개인활동</h2>
</body>
</html>